
<div class="chart-element">
    <canvas baseChart width="400" height="400"
        [chartType]="chartType"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="chartColors"
        [legend]="chartLegend"
        [plugins]="chartPlugins">
    </canvas>
</div>



