<!-- <app-line-chart></app-line-chart>
<app-pie-chart></app-pie-chart> -->
<app-bar-chart></app-bar-chart>
<!-- <app-bubble-chart></app-bubble-chart> -->
<!-- <app-doughnut-chart></app-doughnut-chart>
<app-radar-chart></app-radar-chart>
<app-scatter-chart></app-scatter-chart> -->

<app-xy-line-chart> </app-xy-line-chart>
<app-xy-bar-chart> </app-xy-bar-chart>
<app-xy-mixed-chart> </app-xy-mixed-chart>
<app-am-pie-chart> </app-am-pie-chart>
<app-am-radar-chart> </app-am-radar-chart>