<!-- <app-chart-element [chartType] = '"bar"'>
</app-chart-element> -->

<app-chart-element [chartType] = '"bar"' 
                   [sqlservparams]="{'p_month_from':03,'p_month_to':05,'p_year_from':2020,'p_year_to':2020}"
                   [sqlservmapnames]="'MONTH_YEAR'"
                   [sqlservid]="'cnt_create_close_cards_list'"
                   [sqlservresultpath]="'params.0.outBinds.p_card_arr'"
                   [chartLegend] = "true"
                   [chartOptions]="{
                                scales : 
                                    { 
                                        xAxes : [{scaleLabel : {display : true, labelString : 'месяц'}, ticks : {display : true} } ],
                                        yAxes : [{scaleLabel : {display : true, labelString : 'карт, шт'}, ticks : {beginAtZero : true,display : true}}]}
                                    }"
                   [childData] = "[{
                        'sqlservparams':{'p_month_from':03,'p_month_to':05,'p_year_from':2020,'p_year_to':2020},
                        'sqlservid':'cnt_create_close_cards_list',
                        'sqlservmapnames':'CNT_CR_CARD',
                        'label':'Открытые',
                        'background-color':'rgba(100, 100, 255, 0.5)',
                        'border-color':'rgba(100, 100, 255, 1)', 
                        'type':'bar',
                        'border-width':'0'
                    },
                    {
                        'sqlservparams':{'p_month_from':03,'p_month_to':05,'p_year_from':2020,'p_year_to':2020},
                        'sqlservid':'cnt_create_close_cards_list',
                        'sqlservmapnames':'CNT_CL_CARD',
                        'label':'Закрытые',
                        'background-color':'rgba(208, 67, 67, 0.5)',
                        'border-color':'rgba(208, 67, 67, 1)', 
                        'type':'bar',
                        'border-width':'0'
                    }]" >
</app-chart-element>


<!-- <canvas chartjs-new sqlservid="cnt_create_close_cards_list"
    sqlservparams="{&quot;p_month_from&quot;:$ctrl.data.month_from,&quot;p_year_from&quot; :$ctrl.data.year_from,&quot;p_month_to&quot;:$ctrl.data.month_to,&quot;p_year_to&quot;:$ctrl.data.year_to}"
    sqlservmapnames="{&quot;MONTH_YEAR&quot;:&quot;data&quot;}"
    options="{legend : {display : true},scales : {xAxes : [{scaleLabel : {display : true,labelString : 'месяц'},ticks : {display : true}}],yAxes : [{scaleLabel : {display : true,labelString : 'карт, шт'},ticks : {beginAtZero : true,display : true}}]}}"
    type="bar" sqlservresultpath="params.0.outBinds.p_card_arr">

    <div data-chartjs-dataset label="Открытые"
        sqlservid="cnt_create_close_cards_list"
        sqlservparams="{&quot;p_month_from&quot;:$ctrl.data.month_from,&quot;p_year_from&quot; :$ctrl.data.year_from,&quot;p_month_to&quot;:$ctrl.data.month_to,&quot;p_year_to&quot;:$ctrl.data.year_to}"
        sqlservmapnames="{&quot;CNT_CR_CARD&quot;:&quot;data&quot;}"
        background-color="&quot;rgba(100, 100, 255, 0.5)&quot;"
        border-color="&quot;rgba(100, 100, 255, 1)&quot;" type="bar"
        border-width="0" sqlservresultpath="params.0.outBinds.p_card_arr"></div>
    <div data-chartjs-dataset label="Закрытые"
        sqlservid="cnt_create_close_cards_list"
        sqlservparams="{&quot;p_month_from&quot;:$ctrl.data.month_from,&quot;p_year_from&quot; :$ctrl.data.year_from,&quot;p_month_to&quot;:$ctrl.data.month_to,&quot;p_year_to&quot;:$ctrl.data.year_to}"
        sqlservmapnames="{&quot;CNT_CL_CARD&quot;:&quot;data&quot;}"
        background-color="&quot;rgba(208, 67, 67, 0.5)&quot;"
        border-color="&quot;rgba(208, 67, 67, 1)&quot;" type="bar" border-width="0"
        sqlservresultpath="params.0.outBinds.p_card_arr"></div>
</canvas> -->